<!DOCTYPE html>
{% load staticfiles %}
{% if request.user.is_authenticated %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<meta charset="utf-8" />
<title>台北 TaiPei</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
</head>
	
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a name='top'>台北 TaiPei</a></h1>
			<h  color="blue"><a href="/closerice/index/"><u>回目錄</u></a></h>
		</div>
		<div id="menu">
			
			<ul>
				<li><a href="#one" accesskey="1" title="">松山新店線</a></li>
				<li><a href="#two" accesskey="2" title="">淡水信義線</a></li>
				<li><a href="#third" accesskey="3" title="">中和新蘆線</a></li>
				<li><a href="#four" accesskey="4" title="">文湖線</a></li>
				<li><a href="#five" accesskey="5" title="">板南線</a></li>
				<li><h4><a href="/closerice/logout/">登出</a></h4></li>
				<li><h4>用戶名稱:{{user.username}}</h4></li>
			</ul>
		</div>
	</div>
	<img src="/static/images/pic01.jpg" width="1200" height="500" alt="" style="display:block; margin:auto;"/>
</div>
<div id="page" class="container">
	<div class="title">
		<h2><a name='one'>松山新店線 (Green Line)</a></h2>	
	</div>
	<div class="boxA">
		<div class="box">
			<img src="/static/images/green.jpg" width="750" height="" alt="" />
			<img src="/static/images/gongguan.jpg" width="320" height="200" alt="" />
	        <h3>公館</h3>
			<p>公館為台灣台北市中正區、大安區地名。</p>
			<a href="/closerice/haha/" class="button">瀏覽餐廳</a>
		</div></div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<p align=right><a style="color:orange" href="#top">^top</a></p>
</div>
	<div id="page" class="container">
	<div class="title">
		<h2><a name='two'>淡水信義線(Red line)</a></h2>	
	</div>
	<div class="boxA">
		<div class="box">
			<img src="/static/images/red.jpg" width="750" height="" alt="" />
			<h3>Coming soon</h3>
			<p>Coming soon.</p>
		</div></div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p align=right><a style="color:orange" href="#top">^top</a></p>
</div>
	
<div id="page" class="container">
	<div class="title">
		<h2><a name='third'>中和新蘆線 (Yellow Line)</a></h2>	
	</div>
	<div class="boxA">
		<div class="box">
			<img src="/static/images/yellow.jpg" width="750" height="" alt="" />
			<h3>Coming soon</h3>
			<p>Coming soon.</p>
		</div></div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<p align=right><a style="color:orange" href="#top">^top</a></p>
	</div>

	
	<div id="page" class="container">
	<div class="title">
		<h2><a name='four'>文湖線 (Brown Line)</a></h2>	
	</div>
	<div class="boxA">
		<div class="box">
			<img src="/static/images/brown.jpg" width="750" height="" alt="" />
			<h3>Coming soon</h3>
			<p>Coming soon.</p>
		</div></div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p align=right><a style="color:orange" href="#top">^top</a></p>
</div>
	
	<div id="page" class="container">
	<div class="title">
		<h2><a name='five'>板南線 (Blue Line)</a></h2>	
	</div>
	<div class="boxA">
		<div class="box">
			<img src="/static/images/blue.jpg" width="750" height="" alt="" />
			<h3>Coming soon</h3>
			<p>Coming soon.</p>
		</div></div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p align=right><a style="color:orange" href="#top">^top</a></p>
</div>

</body>
{% else %}
<p>未登入</p>
<a href="/closerice/login/">登入</a>
{% endif %}
</html>
